@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #F1F6F2
    --foreground: 119 11% 51%;

    --muted: 30, 96%, 52%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 132, 22%, 95%;
    --popover-foreground: 119 11% 51%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 132, 22%, 95%;
    --card-foreground: 119 11% 51%;

    --primary: 119 11% 51%;
    --primary-foreground: 210 40% 98%;

    --secondary: 30, 96%, 52%;
    --secondary-foreground: 119 11% 51%;

    --accent: 30, 96%, 52%;
    --accent-foreground: 119 11% 51%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

/* INFO: THEME  */
/* background: #F1F6F2
primary verde: #1D7D1B
verde-escuro: #015426
secondary laranja: #FA830D */